/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27 janv. 2017, 21:24:22
    Author     : Nadir
*/
body{
    margin: 0 !important;
    width: 100%;
    background: rgba(213,223,225,1);
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: black;
}
.header_principal{
    width: 100%;
    position: relative !important;
    height: 50px;
}
.header_principal .container_header_panel{
    height: 100%;
}
.div_home_logo h1{
    margin:0;
    font-family: 'Noto Serif', serif;
    color: white;
}
.header_principal, .header_left{
    position: fixed;
    background: rgba(35,38,39,1);
    /*background: url('../images/bg_header_1.jpg') center center;*/
    display: inline-block;
    border: solid;
    border-top: none;
    border-left: none;
    border-width: 1px;
    border-color: black;
}
.header_principal div, .header_left div{
    cursor: pointer;
}
.header_left{
    width: 8.5%;
    height: 100%;
}
.div_streamers .streamer_1, .div_streamers .streamer_2{
    background-size: cover !important;
    height: 150px;
    width: 100%;
}
.div_streamers .overlay_streamers{
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    position: relative;
}
.overlay_streamers .details_streamers{
    position: absolute;
    width: 100%;
    background: rgba(255,255,255,0.7);
    bottom: 0;
}
.details_streamers .is_live{
    background: rgba(35,143,35,1);
    color: wheat;
    font-size: 20px;
}
.details_streamers .is_live p{
    margin: 0;
    display: inline-block;
}
.details_streamers .is_live .logo_live{
    height: 10px;
    display: inline-block;
    width: 10px;
    background: red;
    border-radius: 10px;
}
.details_streamers .pseudo_streamer p{
    margin: 0;
}
.container_header_panel, .container_header_left_panel{
    position: relative;
    width: 100%;
}
.container_header_panel .container_divs_header_panel, .container_header_left_panel .container_divs_header_left_panel{
    width: 100%;
}
.container_divs_header_panel .div_home_logo, .container_divs_header_panel .div_sponsors, .container_divs_header_panel .div_user{
    display: inline-block;
}
.container_divs_header_panel .div_sponsors{
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
}
.container_divs_header_panel .div_user,.container_divs_header_left_panel .div_user{
    position: absolute;
    right: 0px;
    display: block;
    height: 50px;
    transform: translateY(-50%);
    top: 50%;
}
.container_divs_header_panel .div_user .inscription_connexion p{
    margin: 0;
    font-family: 'Noto Serif', serif;
    padding: 5px 30px;
}
.container_divs_header_panel .div_user .inscription_connexion{
    background: rgba(255,255,255,0.2);
    border-radius: 10px;
    margin-top: 5px;
    display: inline-block;
}
.container_divs_header_panel .div_user .pp_user .img_pp_user{
    width: 100px;
    height: 100px;
}
.container_divs_header_left_panel .div_user .user_infos{
    left: 0;
}
.container_divs_header_panel .div_user .user_infos, .container_divs_header_left_panel .div_user .user_infos{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(0,0,0,0.5);
    color: white;
    display: none;
}
.container_divs_header_left_panel .div_user{
    display: none;
}
.container_divs_header_panel .div_user .user_infos .user_details, .container_divs_header_left_panel .div_user .user_infos .user_details{
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
    text-align: center;
}
.container_divs_header_left_panel .div_user .user_infos .acces_admin{
    top: 0;
}
.container_divs_header_left_panel .div_user .deconnexion_user, .container_divs_header_left_panel .div_user .acces_admin{
    left: 0;
    background: none;
}
.container_divs_header_panel .div_user .acces_admin{
    position: relative !important;
}
.container_divs_header_panel .div_user .deconnexion_user, .container_divs_header_panel .div_user .acces_admin,.container_divs_header_left_panel .div_user .deconnexion_user, .container_divs_header_left_panel .div_user .acces_admin {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: rgba(255,255,255,0.5);
}
.container_divs_header_panel .div_user .deconnexion_user p, .container_divs_header_panel .div_user .acces_admin p{
    margin: 0;
}
.container_divs_header_panel .div_home_logo .div_img_home_logo{
    position: absolute;
    top: 0;
    height: 50px;
}
.container_divs_header_panel .div_home_logo .header_principal_home_logo, .container_divs_header_panel .div_sponsors .sponsors_logo{
    width: 150px;
    height: 50px;
}
.container_divs_header_left_panel .text_streamers p, .container_divs_header_left_panel .text_rubriques p{
    margin: 0px !important;
    padding: 5px;
    text-align: center;
    font-size: 22px;
}
.container_divs_header_left_panel .text_streamers, .container_divs_header_left_panel .text_rubriques{
    color: white;
}
.container_divs_header_left_panel .div_streamers .header_left_streamers{
    opacity: 0.8;
    width: 100%;
    transition: 0.2s;   
}
.container_divs_header_left_panel .div_streamers .header_left_streamers:hover{
    opacity: 1;
    width: 100%;
}
.container_divs_header_left_panel .div_streamers{
    text-align: center;
}
.container_divs_header_left_panel .rubriques{
    width: 100%;
}
.container_divs_header_left_panel .header_left_rubriques{
    text-align: center;
    width: 100%;
    border-bottom: solid;
    border-width: 1px;
}
.container_divs_header_left_panel .header_left_rubriques img{
    opacity: 1;
    width: 80%;
    transition: 0.2s;
}
.container_divs_header_left_panel .header_left_rubriques img:hover{
    opacity: 1;
    width: 100%;
}
.first_big_class{
    position: absolute;
    display: block;
    width: 91%;
    right: 0;
    height: 100%;
}
.container_index_page{
    background: white;
    margin-right: 5px;
    padding: 15px;
    height: 100%;
    width: 100%;
}
.top_page{
    height: 50%;
}
.container_slider{
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    text-align: center;
    height: 85%;
}

.slider{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 250px;
    cursor: pointer;
    height: 100%;
}
.xpoval{
    height: auto;
    text-align: center;
}
.click_slider{
    position: absolute;
    height: 75%;
    width: 100%;
}
.divs_style{
    opacity: 1;
    transition: 1s;
    cursor: pointer;
}
.slider .overlay_slider{
    position: absolute;
    width: 100%;
    transform: translateX(-50%);
    height: 100%;
    left: 50%;
    top: 0;
}
.slider .management_overlay_slider .text_overlay_slider{
    position: absolute;
    bottom: 0;
    text-align: center;
    background: rgba(255,255,255,0.5);
    width: 100%;
    transform: translateX(-50%);
    left: 50%;
}
.text_overlay_slider p{
    margin: 0;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Noto Serif', serif;
}
.slider .management_overlay_slider .arrows{
    color: white;
    font-size: 25px;
    position: absolute;
    transform: translateY(-50%) translateX(0%);
    top: 50%;
    width: 10%;
    text-align: center;
    background: rgba(255,255,255,0.5);
}
.slider .management_overlay_slider .overlay_slider_back{
    left: 0;
}
.slider .management_overlay_slider .overlay_slider_next{
    right: 0;
}
.container_index_page .xpoval h1{
    display: inline-block;
}
.container_index_page .xpoval h1 span{
    font-size: 23px;
}
.container_index_page .xpoval h1{
    margin: 0;
    font-family: 'Noto Serif', serif;
    color: black;
}
.bottom_page{
    height: 50%;
}
.container_index_page .gaming_and_photography,.container_index_page .proteam_and_music{
    width: 100%;
    text-align: center;
    height: 50%;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    padding: 5px;
}
.container_index_page .gaming_news, .container_index_page .slider_photography{
    width: 49%;
    display: inline-block;
    height: 100%;
    border-radius: 5px;
}
.container_index_page .proteam_and_music .proteam{
    width: 75.5%;
    display: inline-block;
    height: 100%;
    border-radius: 5px;
}
.container_index_page .proteam_and_music .music{
    display: inline-block;
    width: 22.5%;
    height: 100%;
    border-radius: 5px;
}
.container_index_page .overlay_banners{
    width: 100%;
    position: relative;
    height: 100%;
}
.container_index_page .overlay_banners h2,.container_index_page .overlay_banners .infos_slider_photography{
    width: 100%;
    position: absolute;
    transform: translateX(-50%);
    margin: 0;
    font-size: 22px;
    color: honeydew;
    font-family: 'Noto Serif', serif;
    left: 50%;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
}
.first_big_class .all_index_page{
    width: 80%;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    height: 100%;
}
.slider .overlay_slider .list_slider ul, .slider_photography .overlay_banners .list_slider_photography ul{
    display: block;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.slider .overlay_slider .list_slider ul li, .slider_photography .overlay_banners .list_slider_photography ul li{
    display: inline-block;
    margin: 5px;
    border: solid;
    border-width: 5px;
    border-color: white;
    background: transparent;
    padding: 3px;
    border-radius: 35px;
    cursor: pointer;
}
.slider .overlay_slider .list_slider, .slider_photography .overlay_banners .list_slider_photography{
    position: absolute;
    bottom: 30px;
    transform: translateX(-50%);
    left: 50%;
    width: 100%;
}
.header_left_scrolled{
    width: 100%;
    height: 50px;
    top: 0;
    z-index: 120000;
    text-align: center;
}
.container_header_left_panel_scrolled{
    height: 100%;
    width: auto;
}
.header_left_scrolled div .scrolled{
    display: inline-block;
}
.container_divs_header_left_panel_scrolled{
    width: 100%;
    height: 100%;
}
.container_divs_header_left_panel_scrolled .text_streamers_scrolled, .container_divs_header_left_panel_scrolled .text_rubriques_scrolled{
    display: none !important;
}
.container_divs_header_left_panel_scrolled .div_streamers_scrolled{
    text-align: center;
    display: inline-block;
    height: 100%;
}
.div_streamers_scrolled .header_left_streamers_scrolled{
    height: 50px;
    width: auto !important;
}
.container_divs_header_left_panel_scrolled .rubriques_scrolled{
    height: 100%;
    width: auto;
}
.container_divs_header_left_panel_scrolled .header_left_rubriques_scrolled{
    width: auto;
    height: 100%;
    border: none;
}
.container_divs_header_left_panel_scrolled .header_left_rubriques_scrolled .img_scrolled{
    height: 50px;
    width: auto;
}
.container_divs_header_left_panel .div_user .container_user_block .user_infos p{
    margin: 0;
}
